<section>
  <div>
    <h2 class="text-2xl font-bold mb-4 font-poppins">Assignment 7</h2>
    <p class="text-gray-700 mb-4 border p-2 text-[12px]">
      In the above Angular application create an injectable service “Logger”
      through cli, define a function “log(msg)” in the file. This function will
      output the message in the browser console. Inject this service in the
      “Home” component. Call the log(“Using a logger service”) function in the
      constructor of the “home” component.
      <br />
    </p>
  </div>

  <div
    class="min-h-[300px] bg-gray-900 md:flex md:flex-col md:justify-center p-5 gap-4"
  >
    <h1 class="text-white text-center text-2xl">Count : {{ count }}</h1>
    <button
      (click)="incrementCount()"
      class="w-1/5 mx-auto px-4 py-2 bg-blue-500 text-white rounded-lg shadow hover:bg-blue-600 transition"
    >
      Increment
    </button>
  </div>
</section>
