<main class="w-screen h-screen ">
  <!-- <div class="flex justify-center items-center w-full h-full">
    <div
      class="text-5xl md:text-9xl font-pop' font-extrabold text-white border border-white-500  p-3 rounded-md shadow-md shadow-cyan-200"
    >
      <h1 class=" ">
        Hello <span class=""> < / {{ title }} > </span>
      </h1>
    </div>
  </div> -->

  <div class="grid gap-2 mx-1 md:grid md:grid-cols-4 md:gap-3 md:mx-4">
    <div class="h-min-[100px] text-center py-5 bg-black text-white">
      <h1 class="text-center py-5">Tejas Bisen</h1>
    </div>
    <div class="h-min-[100px] text-center py-5 bg-black text-white">
      <h1 class="text-center py-5">Tejas Bisen</h1>
    </div>
    <div class="h-min-[100px] text-center py-5 bg-black text-white">
      <h1 class="text-center py-5">Tejas Bisen</h1>
    </div>
    <div class="h-min-[100px] text-center py-5 bg-black text-white">
      <h1 class="text-center py-5">Tejas Bisen</h1>
    </div>
  </div>
</main>
