<div
  class="flex flex-col justify-start items-center md:flex md:flex-col md:items-center md:justify-center min-h-screen bg-gray-100"
>
  <!-- Illustration -->
  <img
    class="md:w-1/4 mix-blend-multiply"
    src="https://cdn.dribbble.com/users/1175431/screenshots/6188233/404-error-dribbble-800x600.gif"
    alt="Page Not Found Illustration"
  />

  <!-- Message -->
  <p class="text-lg text-gray-600 mt-2">
    Oops! The page you're looking for doesn't exist.
  </p>

  <!-- Button -->
  <a
    href="/"
    class="mt-6 px-6 py-3 bg-blue-500 text-white text-sm font-semibold rounded-lg shadow hover:bg-blue-600 transition"
  >
    Go Back Home
  </a>
</div>
