@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

main {
  background: linear-gradient(to bottom, #0a32e7, #fdfdfdda);
  margin: 10px;
  margin-top: 40px;
  padding: 0px;
  min-height: 80vh;
  min-width: 40vw;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: #e5e6e7 0px 30px 60px -12px, #4c88e2 0px 18px 36px -18px;
}

p {
  font-family: "Figtree", sans-serif;
  font-size: 20px;
  color: #4455e7; /* White color for the tagline */
  letter-spacing: 1px;
  font-weight: 500;
  text-align: center;
}

/* Typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* Cursor blinking effect */
@keyframes blink {
  50% {
    border-color: transparent;
  }
}

/* Responsive Media Query  */

/* Default styling for mobile devices */
h1 {
  text-align: center;
  font-family: "Figtree", serif;
  font-size: 40px;
  letter-spacing: 4px;
  color: rgb(255, 252, 254); /* Text color: rcyan */
  white-space: nowrap; /* Prevent text wrapping */
  overflow: hidden; /* Hide overflowing text */
  border-right: 4px solid #ef5ba1; /* Cursor color: rpink */
  animation: typing 5s cubic-bezier(0.4, 0, 0.2, 1),
    blink 0.7s step-end infinite;
}

/* Media query for medium-sized devices (e.g., tablets) */
@media (min-width: 768px) and (max-width: 1024px) {
  h1 {
    font-size: 90px;
  }
}

/* Media query for desktop screens */
@media (min-width: 1025px) {
  h1 {
    font-size: 160px;
  }
}
